.sub-section-title {
  text-align: right;
}

.section-title.section-title-left {
  text-align: right;
}

a:hover.redirect-link i, a:active.redirect-link i {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

a.redirect-link i {
  margin-left: 0;
  margin-right: 5px;
}

.main-btn {
  -webkit-box-shadow: 0px 7px 51px 0px rgba(31, 18, 253, 0.12);
          box-shadow: 0px 7px 51px 0px rgba(31, 18, 253, 0.12);
}

.main-btn.main-btn-rounded-icon span {
  margin-left: 0;
  margin-right: 10px;
}

.breadcrumb .breadcrumb-item {
  padding-left: .5rem;
  padding-right: 0;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  padding-right: 0;
  padding-left: .5rem;
}

.breadcrumb .breadcrumb-item:last-child {
  padding-left: 0;
  padding-right: 0;
}

.page-link {
  margin-left: 0;
  margin-right: -1px;
}

.page-item:first-child {
  padding-left: 7px;
  padding-right: 0;
}

.page-item:last-child {
  padding-right: 7px;
  padding-left: 0;
}

select.form-control {
  background-position: left 25px center;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  right: auto;
  left: -6px;
  text-align: left;
}

.input-checkbox label {
  padding-left: 0;
  padding-right: 35px;
}

.input-checkbox label:before {
  left: auto;
  right: 0;
  padding-left: 0px;
  padding-right: 4px;
}

.input-radio label {
  padding-left: 0;
  padding-right: 35px;
}

.input-radio label:before {
  left: auto;
  right: 0;
  padding-left: 0px;
  padding-right: 4px;
}

.social-list li {
  margin-right: 0;
  margin-left: 15px;
}

.social-list li:last-child {
  margin-left: 0;
}

.page-bg-overlay:before {
  left: auto;
  right: 0;
}

.topbar-list li {
  margin-right: 0;
  margin-left: 25px;
  border-right: 0;
  border-left: 1px solid #e1e1e1;
  padding-right: 0;
  padding-left: 25px;
}

.topbar-list li:last-child {
  padding-left: 0;
  border-left: 0;
  margin-left: 0;
}

.topbar-list li i {
  margin-right: 0;
  margin-left: 10px;
}

.side-modal {
  right: auto;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.side-modal.side-modal-show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebar-info-list-item i {
  margin-right: 0;
  margin-left: 10px;
}

.sidebar-search .form-group .form-control {
  padding-right: 0;
  padding-left: 10px;
}

.main-nav nav .navbar-nav .nav-item a.dropdown-toggle:after {
  margin-left: 0;
  margin-right: 8px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu .nav-item a.dropdown-toggle:after {
  margin-right: 0;
  right: auto;
  left: 10px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
  left: auto;
  right: 100%;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item a.dropdown-toggle:after {
  margin-right: 0;
  right: auto;
  left: 10px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu {
  left: auto;
  right: 100%;
}

.navbar-option-item {
  margin-left: 0;
  margin-right: 30px;
}

.navbar-brand {
  margin-right: 0;
  margin-left: 15px;
}

.mobile-nav .navbar-option {
  margin-left: 60px;
  margin-right: auto;
  right: auto;
  left: 0;
}

.mobile-nav .navbar-option-item {
  margin-left: 0;
  margin-right: 25px;
}

.mean-container .mean-bar {
  left: auto;
  right: 0;
}

.mean-container a.meanmenu-reveal {
  padding-right: 0;
  padding-left: 0;
  right: auto !important;
  left: 0 !important;
}

.mean-container a.mean-expand {
  text-align: left !important;
  right: auto !important;
  left: 0;
  display: block !important;
}

.mean-container .mean-nav ul li a {
  text-align: right;
  float: right;
}

.header-bg-image {
  background: url(../images/homepage-three/bg.jpg) no-repeat left;
  background-size: cover;
  height: 100vh;
}

.header-bg-image:before {
  left: auto;
  right: 0;
}

.header-animation-shape {
  left: auto;
  right: 50%;
  -webkit-transform: translate(400px, -100px);
          transform: translate(400px, -100px);
}

.header-animation-shape:before {
  left: auto;
  right: 0;
}

.header-image-shape {
  right: auto;
  left: 0;
}

.ms-auto {
  margin-left: 0 !important;
}

.header-content {
  padding-left: 0;
  padding-right: 25px;
}

.button-group .main-btn {
  margin-right: 0;
  margin-left: 25px;
}

.button-group .main-btn:last-child {
  margin-left: 0;
}

.feature-card-thumb {
  margin-right: 0;
  margin-left: 20px;
}

.about-content ul li {
  padding-right: 30px;
  padding-left: 10px;
}

.about-content ul li:before {
  left: auto;
  right: 0;
}

.service-card:before {
  left: auto;
  right: 0;
}

@-webkit-keyframes stepDotRide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 1;
  }
  35% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
    opacity: 1;
  }
  85% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-950px);
            transform: translateX(-950px);
    opacity: 0;
  }
}

@keyframes stepDotRide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 1;
  }
  35% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
    opacity: 1;
  }
  85% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-950px);
            transform: translateX(-950px);
    opacity: 0;
  }
}

.process-content-line {
  left: auto;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.process-thumb:before {
  left: auto;
  right: 0;
}

.section-inner-center-shape {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  left: auto;
  right: 50%;
}

.testimonial-card-body:after {
  left: auto;
  right: 58px;
}

.testimonial-card-info {
  padding-left: 0;
  padding-right: 50px;
}

.testimonial-card-info-thumb {
  margin-right: 0;
  margin-left: 15px;
}

.default-carousel.owl-theme .owl-nav button {
  margin-right: 0;
  margin-left: 15px;
}

.default-carousel.owl-theme .owl-nav button:last-child {
  margin-left: 0;
}

.blog-entry-thumb {
  margin-right: 0;
  margin-left: 10px;
}

.blog-details-category .blog-category {
  right: auto;
  left: 20px;
}

@-webkit-keyframes horizontalRide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  40% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  60% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes horizontalRide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  40% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  60% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.footer-shape:nth-child(1) {
  left: auto;
  right: 5%;
}

.footer-shape:nth-child(2) {
  right: auto;
  left: 5%;
}

.footer-list li {
  padding-left: 0;
  padding-right: 20px;
}

.footer-list li:before {
  left: auto;
  right: 0;
}

.project-flat-text h3 {
  padding-left: 0;
  padding-right: 15px;
}

.project-flat-text h3:before {
  left: auto;
  right: 0;
}

.forum-details ul li {
  padding-right: 30px;
  padding-left: 10px;
}

.forum-details ul li:before {
  left: auto;
  right: 0;
}

.forum-details ol {
  padding-left: 0;
  padding-right: 20px;
}

.forum-details blockquote {
  border-left: 0;
  border-right: 5px solid #334c3c;
}

.forum-details .blog-entry-list li {
  padding-right: 0;
}

.sidebar-list li a {
  padding-left: 0;
  padding-right: 12px;
}

.sidebar-list li a:before {
  margin-right: 0;
  margin-left: 10px;
  left: auto;
  right: 0;
}

.sidebar-category li a {
  padding-left: 0;
  padding-right: 12px;
}

.sidebar-category li a:before {
  margin-right: 0;
  margin-left: 10px;
  left: auto;
  right: 0;
}

.sidebar-author .author-info img {
  margin-right: 0;
  margin-left: 20px;
}

.sidebar-recent-post-item a img {
  margin-right: 0;
  margin-left: 20px;
}

.accordion-button {
  text-align: right;
}

.accordion-button:after {
  margin-right: auto;
  margin-left: 0;
}

.team-social-list {
  right: auto;
  left: 20px;
}

.team-social-list li {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.nice-select {
  padding: 15px 20px 15px 35px;
}

.nice-select:after {
  right: auto;
  left: 10px;
}

.nice-select .list {
  left: 0;
  right: auto;
}

.product-price del {
  margin-right: 0;
  margin-left: 10px;
}

.review-star-list li {
  margin-right: 0;
  margin-left: 1px;
}

.review-star-list li:last-child {
  margin-left: 0;
}

.review-star-group .review-star-list {
  margin-right: 0;
  margin-left: 10px;
}

.product-quantity .cart-quantity {
  margin-right: 0;
  margin-left: 15px;
}

.product-tab-list li {
  margin-right: 0;
  margin-left: 60px;
}

.product-tab-list li:before {
  left: auto;
  right: 0;
}

.product-tab-list li span {
  margin-left: 0;
  margin-right: 3px;
}

.product-description ul {
  padding-left: 0;
  padding-right: 25px;
}

.product-description ul li {
  padding-left: 0;
  padding-right: 30px;
}

.product-description ul li:before {
  left: auto;
  right: 0;
}

.form-review .rating {
  margin-right: 0;
  margin-left: 15px;
}

.post-review-thumb {
  margin-right: 0;
  margin-left: 15px;
}

.product-table-thumb {
  margin-right: 0;
  margin-left: 10px;
}

.cart-coupon form .form-group .form-control {
  text-align: right;
}

.cart-total-item h4 {
  margin-right: 0;
  margin-left: 10px;
}

[type=email], [type=number], [type=tel], [type=url] {
  direction: rtl;
}

.account-avatar-thumb {
  margin-right: 0;
  margin-left: 25px;
}

.account-avatar-action {
  padding-left: 0;
  padding-right: 0;
}

.account-avatar-action li {
  margin-right: 0;
  margin-left: 10px;
}

.account-avatar-action li:last-child {
  margin-left: 0;
}

.account-setting-button .btn {
  margin-left: 0;
  margin-right: 10px;
}

.account-setting-button .btn:first-child {
  margin-right: 0;
}

.new-counter p:before {
  right: auto;
  left: 0;
}

.contact-info-header-icon {
  margin-right: 0;
  margin-left: 18px;
}

.scroll-top {
  right: auto;
  left: 20px;
}

.search-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form-group .form-control {
  margin-right: 0;
  margin-left: 15px;
}

.search-close {
  right: auto;
  left: 100px;
}

@media only screen and (max-width: 991px) {
  .mobile-nav .logo {
    left: auto !important;
    right: 0;
    width: 100px;
  }
  .navbar-option-item {
    margin-left: 0 !important;
    margin-right: 10px;
  }
  .header-animation-shape {
    left: auto;
    right: 0;
    -webkit-transform: translate(-20px, -100px);
            transform: translate(-20px, -100px);
  }
  .header-image-shape {
    left: auto;
  }
  .header-content {
    padding-right: 0;
  }
  .button-group .main-btn {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-nav .navbar-option {
    margin-right: 0;
    margin-left: 40px;
  }
  .mobile-nav .navbar-option-item {
    margin-left: 0;
    margin-right: 10px;
  }
  .mobile-nav.mean-container .mean-bar {
    left: auto !important;
    right: 0;
  }
  .mobile-nav.mean-container a.meanmenu-reveal {
    padding-right: 0 !important;
    padding-left: 0;
  }
  .button-group .main-btn {
    margin-left: 7px;
    margin-right: 7px;
  }
  .about-content ul li {
    padding-right: 28px;
    padding-left: 0;
  }
  .testimonial-card-info-thumb {
    margin-left: 10px;
  }
  .forum-details ul > li {
    padding-right: 25px;
  }
  .team-social-list li {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nice-select {
    padding: 10px 15px 10px 30px !important;
  }
  .nice-select .list {
    right: auto;
    left: 50%;
    -webkit-transform: scale(0.75) translate(-50%, -21px);
            transform: scale(0.75) translate(-50%, -21px);
  }
  .nice-select.open .list {
    -webkit-transform: scale(1) translate(-50%, 0);
            transform: scale(1) translate(-50%, 0);
  }
  .product-tab-list li {
    margin-right: 0;
    margin-left: 20px;
  }
  .product-description ul li {
    padding-left: 0;
    padding-right: 25px;
  }
  .account-avatar-thumb {
    margin-left: 0;
  }
  .contact-info-header-icon {
    margin-right: 0;
    margin-left: 15px;
  }
  .search-close {
    right: auto;
    left: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .testimonial-card-body:after {
    left: auto;
    right: 15px;
  }
  .testimonial-card-info {
    padding-right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .desk-pad-left-10 {
    padding-left: 0;
    padding-right: 10px;
  }
  .desk-pad-right-10 {
    padding-right: 0;
    padding-left: 10px;
  }
  .desk-pad-left-15 {
    padding-left: 0;
    padding-right: 15px;
  }
  .desk-pad-right-15 {
    padding-right: 0;
    padding-left: 15px;
  }
  .desk-pad-left-20 {
    padding-left: 0;
    padding-right: 20px;
  }
  .desk-pad-right-20 {
    padding-right: 0;
    padding-left: 20px;
  }
  .desk-pad-left-30 {
    padding-left: 0;
    padding-right: 30px;
  }
  .desk-pad-right-30 {
    padding-right: 0;
    padding-left: 30px;
  }
  .desk-pad-left-40 {
    padding-left: 0;
    padding-right: 40px;
  }
  .desk-pad-right-40 {
    padding-right: 0;
    padding-left: 40px;
  }
  .desk-pad-left-70 {
    padding-left: 0;
    padding-right: 70px;
  }
  .desk-pad-right-70 {
    padding-right: 0;
    padding-left: 70px;
  }
  .desk-pad-left-100 {
    padding-left: 0;
    padding-right: 100px;
  }
  .desk-pad-right-100 {
    padding-right: 0;
    padding-left: 100px;
  }
  .testimonial-flat-content {
    padding-left: 0 !important;
    padding-right: 45px;
  }
  .pre-loaded .header-content h1 {
    -webkit-animation: slideInRight 1.5s;
            animation: slideInRight 1.5s;
  }
  .pre-loaded .header-content p {
    -webkit-animation: slideInRight 1.5s;
            animation: slideInRight 1.5s;
  }
}

@media only screen and (min-width: 1400px) {
  .header-content {
    padding-right: 0;
  }
}
/*# sourceMappingURL=rtl.css.map */